<ul>
  <li>
    <a routerLink="pagina1" routerLinkActive="attiva">pag 1</a>
  </li>
  <li>
    <a routerLink="pagina2" routerLinkActive="attiva">pag 2</a>
  </li>
</ul>

<router-outlet></router-outlet>
